<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MP6</title>
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!--FAVICON-->
    <link rel="icon" href="{% static 'images/favicon.jpg' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#menu">Menu</a></li>
            <li><a href="#empresa">Empresa</a></li>
            <li><a href="#produtos">Produtos</a></li>
            <li><a href="#contato">Contato</a></li>
        </ul>
    </nav>
</body>
</html>